html{
    box-sizing: border-box;
}

*,*:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    max-width: 100%;
}

p{
    font-size: 16px;
    line-height: 2;
}

.boton{
    background-color: #00B8E4;
    padding: 0.7rem 2rem;
    display: inline-block;
    margin-top: 0.8rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s ease-in-out;
}

.boton:hover{
    background-color: #026d88;

}

.site_header{
    padding: 20px 0;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

/*NAVEGACION RESPONSIVE*/

.barra{
    overflow: hidden;
}

.mobile_menu{
    background-color: #DB008D;
    color: white;
    font-size: 2rem;
    text-align: center;
    display: block;
    padding: 1rem 0;
}

#nav:target{
    max-height: 80rem;    
}

.navegacion_principal{
    background-color: #DB008D;
    max-height: 0;
    transition: .5s;
}

@media (min-width:768px){}
    .navegacion_principal{
        max-height: unset;
    }
    .mobile_menu,
    .cerrar{
        display: none!important;
    }
}

/*NAVEGACIÓN*/

.barra{
    background-color: #DB008D;
    margin-top: 4rem;
}

.navegacion_principal a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: center;
    padding: 20px;
}

@media (min-width:768px){
    .navegacion_principal a{
        display: inline-block;
    }
}

.navegacion_principal a:hover{
    background-color: #00B8E4;
}

/*CONTENEDORES PRINCIPALES*/

.contenido_principal{
    margin-top: 4rem;
}

.contenido_principal,
.sidebar{
    padding: 2rem;
}

@media (min-width:768px){
    .contenido_principal{
        width: 70%;
        float: left;
        padding: 0 40px 0 0;
    }
    .sidebar{
        width: 30%;
        float: right;
        padding: 0;
        margin-top: 4rem;
    }
}

/*ENTRADAS DE BLOG*/

h2{
    color: #00B8E4;
    margin-bottom: 20px;
}

.entrada_blog{
    margin-bottom: 4rem;
}

.entrada_blog:last-of-type{
    margin-bottom: 0;
}

.entrada_blog img{
    display: block;
}

@media (min-width:480px){
    .entrada_blog img{
        width: 300px;
        float: left;
        margin: 0 30px 0 0;
    }
}

.entrada p{
    text-align: justify;
}

/*SIDEBAR*/

.sidebar ul{
    list-style: none;
}

.sidebar ul li{
    padding: 1rem 1rem 1rem 0;
}

.sidebar ul li:hover{
    background-color: #00B8E4;
}

.sidebar ul li a{
    color: #00B8E4;
    font-size: 1rem;
    text-decoration: none;
}

.sidebar ul li:hover a{
    color: white;
}

.site_footer{
    background-color: #DB008D;
    padding-top: 4rem;
    margin-top: 4rem;
    color: white;
    text-align: center;
}

.site_footer h2{
    color: white;
}

.site_footer a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1rem;
}

.site_footer a:last-of-type{
    margin-right: 0;
}

@media (min-width:768px){
    .site_footer .nosotros{
        float: left;
        width: 30%;
        text-align: left;
    }

    .site_footer .menu{
        float: right;
        width: 50%;
        text-align: right;
    }
}

.copyright{
    background-color: #91035f;
    margin-top: 3rem;
    margin-bottom: 0;
    padding: 1rem 0;
}